<automation>
	<node id="1">
		<plugin id="500" type="mqtt">
			<connection>
				<broker host="127.0.0.1" port="1883"/>
				<auth user="user" password="password"/>
				<client id="automation-core"/>

			</connection>
			<mappings>
				<mapping object_id="100" type="float" direction="publish" topic="automation/temperature" qos="1" retain="true"/>
				<mapping object_id="101" type="int32" direction="publish" topic="automation/counter"/>
				<mapping object_id="102" type="bool" direction="subscribe" topic="Rauchmelder/Dachboden/Sammelstoerung"/>
				<mapping object_id="103" type="string" direction="publish" topic="automation/status"/>
				<mapping object_id="104" type="float" direction="subscribe" topic="Umwelt/Dachsensor/System/Temperatur"/>
				<mapping object_id="105" type="bool" direction="publish" topic="automation/Dachboden/Sammelstoerung" qos="1"/>
			</mappings>
		</plugin>
		<plugin id="501" type="can">
			<connection><interface name="can0" bitrate="50000"/></connection>
			<mappings>
				<mapping object_id="110" type="float" direction="tx"> <frame id="0x003"> <field start_bit="8" length="16" encoding="le" scale="0.1" offset="0"/> </frame> </mapping>
				<mapping object_id="112" type="bool" direction="rx"> <frame id="0x010"> <field start_bit="18" length="1"/> </frame> </mapping>
				<mapping object_id="111" type="bool" direction="rx"> <frame id="0x010"> <field start_bit="19" length="1"/> </frame> </mapping>
			</mappings>
		</plugin>
	</node>
</automation>