{
    "host": "127.0.0.1",
    "port": 1883,
    "username": "user",
    "password": "password",
	"mappings": [
         {
            "topic": "automation/temperature",
            "signal_id": 100,
            "type": "float",
			"direction": "subscribe"
        },
        {
            "topic": "automation/counter",
            "signal_id": 101,
            "type": "int32",
			"direction": "publish"
        },
        {
            "topic": "automation/active",
            "signal_id": 102,
            "type": "bool",
			"direction": "publish"
        },
        {
            "topic": "automation/status",
            "signal_id": 103,
            "type": "string",
			"direction": "publish"
        }
    ]
}